.counter-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 1fr auto repeat(7, 1fr);
    align-items: center;
}
.label-item {
    /* flex-basis: 35%; */
}
.buttons-item {
}

.buttons-item button {
    margin: 0 5px 0 5px;
    width: 40px;
}
